:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cl-internal-1dauvpw {
  display: none !important;
}

.cl-internal-d50gl1 {
  display: none !important;
}

.cl-internal-1hp5nqm {
  display: none !important;
}

.cl-internal-1eekank {
  color: white;
}

/*Loading animation */
.loader {
  position: absolute;
}

.loader:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 5em;
  height: 0.5em;
  border-radius: 0.5em;
  transform: translate(-50%, -50%);
  animation: slide 2.5s infinite;
}

@keyframes slide {
  0% {
    width: 5em;
    box-shadow: 1em -0.5em #0a0a0a, -1em 0.5em #aabbc4;
  }

  35% {
    width: 0.5em;
    box-shadow: 0 -0.5em #0a0a0a, 0 0.5em #aabbc4;
  }

  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em #0a0a0a, 1em 0.5em #aabbc4;
  }

  100% {
    width: 5em;
    box-shadow: 1em -0.5em #0a0a0a, -1em 0.5em #aabbc4;
  }
}
